./Project/Lexical_Analyser/sample/__pycache__/
./Project/Lexical_Analyser/flask_website/__pycache__/
./Project/Lexical_Analyser/flask_website/instance/
./Project/Lexical_Analyser/flask_website/.webassets-cache
